ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
/* Write your CSS below, don't change the rules above. */

body {
  text-align: center;
  line-height: 1.6;
}

p.note {
  color: red;
}

.note {
  font-size: 20px;
}

#id-selector-demo {
  color: green;
}

li[value="4"] {
  color: blue;
}